/* Default font for body, used to be "Lora", serif; */
body {
    font-family: "Alata", sans-serif !important;
}

/* secondary font, used to be "Lora", serif;*/
.secondary-font, #secondary-font {
    font-family: "Alata", sans-serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}
